{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}My Site{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {% block links %}{% endblock %}
</head>
<body>
    <nav class="navbar">
       <div class="container">
           <ul class="menu">
               <li><a href="{% url 'webapp:main_page' %}">Home</a></li>
                {% if request.user.is_authenticated %}
                    {% if perms.webapp.add_product %}
                        <li><a href="{% url 'webapp:product_create' %}"> Создайте продукт </a></li>
                    {% endif %}

                    {% block menu %}{% endblock %}
                    <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
                    <li class="menu-right">Hello,<a href="{% url 'accounts:detail' user.pk%}">{{user.username}}</a>!</li>
                {% else %}
                    <li><a href="{% url 'accounts:login' %}?next={{ request.get_full_path }}">Login</a></li>
                    <li><a href="{% url 'accounts:create_user' %}?next={{ request.get_full_path }}">SignUp</a></li>

                {% endif %}

           </ul>

       </div>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script>
</body>
</html>